@import "compass_twitter_bootstrap";

rect {
  fill: none;
  pointer-events: all;
}

path {
  fill:none;
  stroke: black;
  stroke-linejoin: round;
}

#map {
  position: fixed;
  right: 30%;
  top: 10%;
}

.active {
  stroke: blue;
  fill: green;
}
.mesh {
  stroke-linejoin: round;
}

.page-header {
  margin: -20px 0 0 30px;
}
